# -*- mode: conf -*-
# vi: set ft=systemd :

[Unit]
Description=Thanos
Documentation=https://github.com/improbable-eng/thanos
After=network.target

[Service]
User=thanos
ExecStart=/usr/bin/thanos receive \
           --log.level              debug \
           --tsdb.path              "/var/lib/thanos/receive" \
           --tsdb.retention         6h \
           --labels                 "store=\"receiver\"" \
           --remote-write.address   "0.0.0.0:19291" \
           --grpc-address           "0.0.0.0:12901" \
           --http-address           "0.0.0.0:12902"

# Enable block shipping:  --objstore.config-file   "/etc/thanos/storage.yml"

Restart=on-failure

[Install]
WantedBy=multi-user.target
