# -*- mode: conf -*-
# vi: set ft=systemd :

[Unit]
Description=Thanos
Documentation=https://github.com/improbable-eng/thanos
After=network.target

[Service]
User=thanos
ExecStart=/usr/bin/thanos query \
            --query.replica-label   replica \
            --store                 "prometheus:10901" \
            --store                 "thanos:11901" \
            --store                 "thanos:12901"

Restart=on-failure

[Install]
WantedBy=multi-user.target
