# vim: set ft=systemd :

[Unit]
Description=Node Exporter
Documentation=https://github.com/prometheus/node_exporter
After=network.target

[Service]
User=node_exporter
ExecStart=/usr/bin/node_exporter --collector.textfile.directory=/var/lib/node_exporter
Restart=on-failure

[Install]
WantedBy=multi-user.target
